* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.cont-lista{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 30px 0px;
}

#mensaje-lista-vacia{
    font-size: 50px;
    color:aliceblue;
    font-family: "Oswald";
    display: flex;
    justify-content: center;
    padding-bottom: 11%;
    padding-top: 11%;
}