@import url("https://fonts.googleapis.com/css2? family= Poppins & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins&display=swap");

body {
  background: rgb(213, 211, 217);
  background: radial-gradient(
    circle,
    rgba(213, 211, 217, 0.8099614845938375) 0%,
    rgba(96, 125, 139, 1) 100%
  );
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  font-family: "Oswald";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
